.product {
    width: 200px;
    height: 220px;
    background-image: linear-gradient(to bottom, rgb(217, 212, 212), rgba(255, 255, 255, 0.917));
    text-align: center;
    font-size: larger;
    float: left;
    margin-bottom: 7px;
    padding: 5px 5px;
}
.img {
    width: 160px ;
    height: 130px;
    border-radius: 5px;
}
.img:hover {
    box-shadow: 5px 5px rgb(179, 78, 78);
    transform: scale(1.05);
    cursor: pointer;
}
.show_product {
    width: 650px;
    height: 620px;
    float: left;
    overflow: auto;
    margin-top: 20px;
    margin-left: 20px;
}
.info img {
    float: left;
    width: 7%;
    height: 7%;
}
.info h1 {
    float: left;
    width: 85%;
    background-image: linear-gradient(to right,red, yellow);
    text-align: center;
    color: whitesmoke;
    padding-top: 2%;
    padding-bottom: 2.5%;
    margin-top: 0px ;
}

.menu {
    
    margin-top: 5px;
    float: left;
}

.menu li{
    margin-left: -30px;
    font-size: 20px;
    list-style: none;
    width: 170px;
    height: 30px;
    background-image: linear-gradient(to right,red, orange );
    color:white;
    margin-bottom: 10px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 20px;
}

.bill_area {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
}
table {
    height: 100px;
    margin: 5px 5px;
}
tbody tr:nth-child(odd){
    background-color: lightgreen
}
tbody tr:nth-child(even){
    background-color: lavender
}
td {
    font-size: 20px ;
}

.td_number {
    text-align: right;
}
.td_name {
    font-weight: bolder;
    font-style: italic;
}
.text-align {
    text-align: center;
}
caption {
    color: red;
    font-size: 40px;
    font-family: monospace;
    font-weight: bolder;
}

thead, tfoot {
    background-color: rgb(246, 255, 0);
    color: rgb(198, 83, 83);
    font-size: 20px;
    font-weight: bolder;
    text-align: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
a {
    text-decoration: none;
}
#resetBill {
    background-color: rgb(178, 171, 32);
    color: aliceblue;
    text-align: center;
    width: 120px;
    height: 30px;
    padding: 5px 5px;
    border-radius: 10%;
    float: right;
    margin-top: 10px;
    font-size: medium;
}
#resetBill:hover {
    transform: scale(1.05);
    cursor: pointer;
}
@media (max-width: 800px) {
    .show_product {
        width: auto;
        position: relative;
    } 
    .bill_area {
        margin-right: 0;
    }       
}
@media (max-width: 600px) {
    .show_product {
        width: auto;
        float: none;
    }
    .bill_area {
        margin: 0;
    }    
}

